<!-- Mensaje pasado desde el padre  -->
<!-- Definiendo una propiedad del input esto se vuelve una propiedad  -->
<app-children message="Mensaje 1" subtitulo="Este es el primero"></app-children>
<app-children message="Mensaje 2" subtitulo="Este es el segundo mensaje "></app-children>
<app-children></app-children>

<!-- Utilizando Array -->

<h3 class="text-primary">Ahora vamos a utilizar pero con una variable de tipo padre </h3>
<app-children [message]="titulos[0]"></app-children>
<app-children [message]="titulos[1]"></app-children>
<app-children [message]="titulos[2]"></app-children>

<h3 class="text-warning">Ahora vamos el Output </h3>
<app-children message="Mensaje 1" subtitulo="Este es el primero" (alertaPulsada)="onAlertaPulsada($event)"></app-children>




<router-outlet></router-outlet>